body{
color: $black-color;
font-family: "Roboto", sans-serif;
background-color: $white-color;
}

img{
    display: block;
}

.title{
  color: $title-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  margin-top:0;
  margin-bottom: 50px;
}